.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.distortion {
    width: 640px;
    height: 920px;
}

.intro h2 {
    font-size: 50px;
}

.intro p {
    font-size: 25px;
}